= form_for @photo, :html => {:multipart => true } do |f|
   -if @photo.errors.any?
      .error_explanation
      %h2 
      Zdjęcie nie może być zapisane:

      %ul
      -@photo.errors.full_messages.each do |msg|
         %li= msg

   .field
      %br
      = f.label :name, 'Tytuł' 
      = f.text_field :name
  
   .filed
      = f.label :picture, "Zdjęcie" 
      = f.file_field :picture
  
   .field
      %br
      = f.label :category_id, "Kategoria:" 
      = f.select :category_id, Category.all.map{ |c| [c.name, c.id]}

   .field
      = f.label :description, "Opis"
      = f.text_area :description
  
   .field
      = f.label :tag_list, "Tagi (oddzielone przecinkami)" 
      = f.text_field :tag_list
  
   .field
      = f.label "Ocena (defaultowo 1)"
   
   .actions
      = f.submit "Dodaj zdjęcie"
