%h1 Listing photos

%h1 Tu jeszcze trzeba całe to przerobic
%h1 5 wierszy po 5 kolumn, na dole stronicowanie, pod kazdym zdjeciem widoczne usun (tylko dla admina)

%table
  %tr
    %th Name
    %th Description
    %th Author
    %th
    %th
    %th  
  %tr
    
- @photos.each do |photo|
  
  %tr
    %td= photo.name
    %td= photo.description
    %td= photo.author

    %td= link_to 'Show', photo
    %td= link_to 'Edit', edit_photo_path(photo)
    %td= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }
  %tr

%br
%br

= link_to 'New Photo', new_photo_path 
