-if((current_user != nil) and (current_user.username == @photo.author))
  =link_to 'Edytuj', edit_photo_path(@photo)
  |
  = link_to 'Usuń', @photo, method: :delete, data: { confirm: 'Jesteś pewien?' }  
  %br
%p
  %b= @photo.category.name
  
%p{:style => "text-align:center;"}
  %center 
    %h2= @photo.name	
	
%p
  %center= image_tag @photo.picture.url

%p
  %b
  = @photo.description

%p
  %b Autor:
  = @photo.author

%p
  %b Tagi: 
  = raw @photo.tag_list.map{|t| link_to t, tag_path(t) }.join(', ')

%p
  %b Ocena:
  = '%.2f' % @photo.rating
  
%p
  %b Ilość ocen:
  = @photo.rates_count

-if(current_user != nil)
  %p
    %b Twoja ocena:
    -@rates = @photo.rates.where(:user_id => current_user.id).to_a
    -if(@rates != [])
      =@rates.first.value.to_i
    -else
      =form_for (@photo) do |f|
        = f.select :rating, 1..5
        %br
        = f.submit "Oceń"    