-if((current_user != nil) and (current_user.username == @photo.author))
  =link_to 'Edytuj', edit_photo_path(@photo)
  %br

%p
  %b= @photo.category.name
  
%p{:style => "text-align:center;"}
  %center 
    %h2= @photo.name	
	
%p
  %center= image_tag @photo.picture.url

%p
  %b
  = @photo.description

%p
  %b Autor:
  = @photo.author

%p
  %b Tagi: 
  = raw @photo.tag_list.map{|t| link_to t, tag_path(t) }.join(', ')

%p
  %b Ocena:
