<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Photo:</b>
  <%=image_tag @photo.picture.url(:small) %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Author:</b>
  <%= @photo.author %>
</p>

<p>
  <b>Tags:</b>
  <%= @photo.tags %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
