%p
  %h2= @category.name

-if((current_user != nil) and (current_user.is_admin == true)) 
  = link_to 'Edytuj', edit_category_path(@category)  
  = link_to 'Usuń', @category, method: :delete, data: { confirm: 'Jesteś pewien?' }  
%br   

-@i=0 
%table
  %tr
    -@photos_paginate.each do |photo|
      %td
        %a{:href => '/photos/' + photo.id.to_s}= image_tag photo.picture.url(:medium)
        -@i+=1
        -if(@i%5 == 0)
          -@i=0;
          %tr
          %br
%br  

= will_paginate @photos_paginate